/* You can add global styles to this file, and also import other style files */
.ui-multiselect-panel {
    min-width: 144px !important;
    }
    .row {
        padding: 5px !important;
    }
    .ui-multiselect {
        min-width: 144px !important;
        border-radius: 12px !important;
    }
    .ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item.ui-state-highlight {
        color: black !important;
        background-color: white !important;
    }
    .ui-paginator {
        text-align: right !important;
    }
    body {
        background-image: url("./assets/image/bcg.jpg");
      }
      .container {
        margin-top: 186px !important;
      }
      .ui-corner-right {
        border-top-right-radius: 14px !important;
        border-bottom-right-radius: 15px !important;
    }
    .table {
        margin-top: 29px !important;
    }