<div class="container">
    <form>
      <div class="parentContainer">
    <div class="row">
        <div class="col-md-3"><a href="#">Sprint</a></div>
        <div class="col-md-9"> <p-multiSelect name="drpVersion" maxSelectedLabels="10" (onChange)="onVersionChange($event)" defaultLabel="Select version" [options]="version" [(ngModel)]="selectedVersion"></p-multiSelect>
          <small  class="form-text text-muted" style="color: red !important" *ngIf="!isSelectedVersion">Please select version</small>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"><a href="#">Teams</a></div>
        <div class="col-md-9"> <p-multiSelect class="rounded" name="drpTeams" maxSelectedLabels="10" (onChange)="onTeamChange($event)" defaultLabel="Select teams" [options]="teams" [(ngModel)]="selectedTeams"></p-multiSelect>
          <small  class="form-text text-muted" style="color: red !important" *ngIf="!isSelectedTeams">Please select teams</small>
        </div>
    </div>
    <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9"><button type="submit" class="btn  subButton" (click)="loademployeeDetail()">Submit</button></div>
    </div>
  </div>
    <div class="row" *ngIf="empList">
      <div class="grid table table-striped">
        <p-table [value]="empList" [rows]="10" [paginator]="true" >
            <ng-template pTemplate="header">
                <tr>
                    <th>Planned velocity</th>
                    <th>Actual velocity</th>
                    <th>Velocity variance</th>
                    <th>No of defined activity scheduled as done</th>
                    <th>No of defined activity completed as done</th>
                   <!-- // <th>Description</th> -->
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td>{{row.first_name}}</td>
                    <td>{{row.last_name}}</td>
                    <td>{{row.email}}</td>
                    <td>{{row.phone}}</td>
                    <td>{{row.address}}</td>
                    <!-- <td>{{row.description}}</td> -->
                </tr>
            </ng-template>
        </p-table>
    </div>
    </div>
 </form>
</div>
<!-- <div class="container">
<form>
        <div class="form-group">
          <label for="version">version</label>
          <p-multiSelect name="drpVersion" defaultLabel="Select version" [options]="version" [(ngModel)]="selectedVersion"></p-multiSelect>
        </div>
        <div class="form-group">
          <label for="teams">Teams</label>
          <p-multiSelect name="drpTeams" defaultLabel="Select teams" [options]="teams" [(ngModel)]="selectedTeams"></p-multiSelect>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div> -->