.parentContainer{
    width: 319px;
  //  height: 254px;
    padding: 28px;
    background-color: #D0D0D0;
    box-shadow: 10px 10px 5px grey;
    margin-left: 336px;
    margin-top: -62px;
}
.subButton{
    background-color:rgb(113, 99, 71) !important;
    border-radius: 14px;
    padding-top: 1px;
    color: antiquewhite;
    margin-top: 30px;
    margin-left: 65px;
}
a{
    text-decoration:none;
    color:black;
}
a:hover {
    color: #ff0000;
}